---
Checks: "*,
        -abseil-*,
        -altera-*,
        -android-*,
        -cppcoreguidelines-non-private-member-variables-in-classes,
        -fuchsia-*,
        -google-*,
        -llvm*,
        -misc-no-recursion,
        -misc-non-private-member-variables-in-classes,
        -misc-use-anonymous-namespace,
        -misc-use-internal-linkage,
        -modernize-use-trailing-return-type,
        -portability-avoid-pragma-once,
        -zircon-*,
"
